@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #333;
    padding-top: 70px;

    &>header {
        background: #FFF;
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;

        &>div.container {
            &>div.row {
                &>div {
                    &>img {
                        width: 100%;
                        margin: 10px 0;
                    }

                    &>nav.menu {
                        width: 100%;

                        &>ul {
                            width: 100%;
                            margin: 0;
                            padding: 21px 0;
                            list-style: none;
                            text-align: right;

                            &>li {
                                display: inline-block;  
                                margin-left: 25px;

                                &.inicio {
                                    &>a {
                                        color: rgb(34, 122, 255);
                                    }
                                }

                                &>a {
                                    font-weight: 300;
                                    color: #333;

                                    &:hover {
                                        color: rgb(34, 122, 255);
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &>main {
        &>img {
            display: block;
            width: 100%;
        }
    }

    &>section {
        padding: 80px 0;

        &.secao1 {
        }

        &.secao2 {
        }
        
        &>div.container {
            &>div.row {
                &>div {
                    &.texto {
                        &>p {
                            font-weight: 300;
                        }
                    }
                    &.imagem {
                        &>a {
                            &>img {
                                width: 100%;
                            }
                        }
                    }

                    &>h2 {

                    }
                    &>p {

                    }

                    &>a {
                        &>img {
                            
                        }
                    }

                    &>iframe {
                        margin-top: 50px;
                        height: 450px;
                    }

                    &>form {

                    }

                    &>ul {
                        &>li {

                        }
                    }
                }
            }
            &>div.table {
                &>table.table.table-hover {
                    &>tbody {
                        &>tr {
                            &>td {
                            }
                        }
                    }
                }
            }
        }


        &>iframe {

        }
    }

    &>footer {
        &>div.container {
            &>div.row {
                &>div {
                    &.menu {
                        &>nav.menu {
                            &>ul {
                                &>li {
                                    &>a {

                                    }
                                }
                            }
                        }
                    }

                    &>p {

                    }

                    &>nav {
                        &>ul {
                            &>li {
                                &>a {

                                }
                            }
                        }
                    }
                }
            }
        }
        &>div.copyright {
            &>div.container {
                &>div.row {
                    &>div {
                        
                    }
                }
            }
        }
    }
}